<!DOCTYPE html>
<html>
<head>
    <title>Image Fill Screen</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        
        img {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    </style>
    <script>
        function changeImage() {
            var newImage = document.getElementById('new-image').value;
            var image = document.getElementById('image');
            image.src = '/static/' + newImage;
        }
    </script>
</head>
<body>
    <form action="/change_image" method="POST">
        <input type="text" id="new-image" name="image" placeholder="Enter image file name">
        <button type="submit">Change Image</button>
    </form>
    <br><br>
    <img id="image" src="/static/{{ new_image or 'image.png' }}" alt="Image Fill Screen">
</body>
</html>
